*{
    background: #000;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    /* border: 4px solid; */
    background-image: linear-gradient(to right, yellow , red) ;
    /* border-image: linear-gradient(to right, red, yellow) 1; */
    font-size: x-large;
    background-color: transparent ;
    backdrop-filter: blur(2px);
    position: sticky;
    top:    0px;

}
#right{
   
    background-color: transparent;    
    display: flex;
    gap: 10px;
    align-items: center;
     margin-right: 10px;
    
}
#right>a{
    text-decoration: none;
    background-color: transparent;    
}
#right>a>div{
    color: rgb(255, 200, 0);
    border-radius: 7px;
    padding: 7px;
    background-color: transparent;   
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
}
#right>a:last-child>div{
    background-color:  rgb(255, 200, 0);
    color: black;
    padding: 7px ;
}
#right>a:last-child>div:hover{
    box-shadow: none;
    background-color: yellow;
    color: #000;
}
#right>a>div:hover{

    color: yellow;
}
#left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
    margin-left: 20px;
    font-size: xx-large;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    color: red;
    background-color: transparent;    
}


#intro{
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
#pic{
    width: 25%;
    border-radius: 50%;
    

}
.highlight{
    /* color: red; */
    font-weight: 900;
    /* text-decoration: underline; */
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color:  red;
    background: linear-gradient(111.3deg, red 9.6%, yellow 93.6%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    
}

#hello{
    font-size: 4vw;
    font-weight: 100;
    color: red;
}
 #details>li{
    font-family: 'Courier Prime', monospace;
    font-size: 2vw;
    color: yellow;
    font-weight: 100;


}