
   

@media screen and (max-width: 700px) {
    
    header{
        padding: 0;
    }
    header .right-header{
        padding: 2rem !important;
    }

    .theme-btn{
        width: 50px;
        height: 50px;
    }
     .main-title{
       
            padding-top: 1rem;
            padding-bottom: 2.5rem;
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 4.5rem;

            }
        }
    }
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem ;

    }
    .contact-content-con{
        font-size: .8rem;
        // padding: 0%;
    }

    .right-header{
       
        width: 90%;
        margin: 0 auto;
        
    }
    
    .header-content .left-header .image{
        
        margin: 0 auto;
        width: 80%;
        height: 85%;
        
    }
    .header-content {
        height: 100% ;
    }

    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }


    .techtools{
        grid-template-columns: repeat(2, 9rem) !important;
               padding-bottom: 6rem;
               gap: 1.5rem;
    }

    .portfolios{
        grid-template-columns: 1fr !important;
        padding-bottom: 6rem;
    }

    
    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
            .bg-text{
                font-size: 4rem;
            }
        }
    }
   
   


    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }
    .section{
        padding: 2rem 1.5rem !important;
    }
}

@media screen and (max-width: 1000px){
    
    
    header{
        padding: 0;
    }
    header .right-header{
        padding: 2rem !important;
    }

   
    .section{
        padding: 2rem 5rem;
    }
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            padding-top: 2.5rem;
        }
    }

  

    .portfolios{
        grid-template-columns: 1fr 1fr;
        
    }
  .techtools{
    grid-template-columns: repeat(3, 10rem);
  }

 


}


@media screen and (max-width: 1332px){
 
    .contact-content-con{
        flex-direction: column;
        padding-bottom: 6rem;
        
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
           
        }

    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
       
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0 ;
        margin-top: 1.5rem ;
       
    }

}



