*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

//27AE60
:root{
    --color-primary: #191d2b;
    --color-secondary: rgb(255, 125, 38);
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}
body{
    background-color: var(--color-primary);
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;

}
header{
    height: 100vh;
    color: var(--color-white);
}
section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 8rem;

}
.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);

}
.sec2{
    display: none;
    transform: translateY(0) scale(1);


}
.sec3{
    display: none;
    transform: translateY(0) scale(1);



}
.sec4{
    display: none;
    transform: translateY(0) scale(1);
   


}
.sec5{
    display: none;
    transform: translateY(0) scale(1);



}
.active{
    
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0%{
            transform: translateY(-100%) scaleY(0);
        }
        100%{
            transform: translateY(0) scale(1);
        }
    }
}
//controls

.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: all .4s ease-in-out;
        i{
            color: var(--color-white) !important ;
        }
    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);    
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow:var(--box-shadow-1) ;
        i{
            font-size: 1.2rem;
            columns: var(--color-grey-2);
            pointer-events: none;
        }
    }
}

//header content

.header-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
   
    .left-header{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);    
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 42% 0, 80% 100%, 0 100%);

        }
        .image{
            border-radius: var(--br-sm-2);
            height: 65%;
            width: 62%;
            margin-left: 4rem;
            background-color:var(--color-black);
            transition: all .4s ease-in-out;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius:  var(--br-sm-2);
                transition: all .4s ease-in-out;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0);
                }
            }

        }
    }


    .right-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;
        .name{
            font-size: 2rem;
            span{
                color: var(--color-secondary);
                text-decoration: underline  ;
                
            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 2rem;

        }
    }
}


//about

.about-container{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    // padding-top: 3.5rem;
    // padding-bottom: 5rem;
    .right-about{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
        .about-item{
            border: 1px solid var(--color-grey-5);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0,0,0,.1);
            &:hover{
                cursor: default;
                transform: translateY(-7px);
                box-shadow: 10px 12px 15px rgba(0,0,0,.52);
                border: 1px solid var(--color-secondary);
            }
            .abt-text{
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-text{
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondary);
                }
                .small-text{
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-grey-1);
                    letter-spacing: 2px;
                    &::before{
                        content: "";
                        position: absolute;
                        left:0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey-5);
                    }
                }
            }
        }
    }
    .left-about{
        
        padding-right: 5rem;
        p{
           
            line-height: 2rem;
            padding: 1rem;
            color: var(--color-grey-1);
        }
        h4{
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

//Timeline

.timeline{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item{
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--color-grey-4);
        .tl-icon{
            position: absolute;
            left: -27px;
            top: 0;
            background-color: var(--color-secondary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1.5rem;
            }
        }
        .tl-duration{
            padding: .2rem .6rem;
            background-color: var(--color-grey-5);
            border-radius: 15px;
            display: inline;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        h5{
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            span{
                color: var(--color-grey-2);
                font-weight: 500;
                font-size: 1.2rem;
                
            }
        }
        p{
            color: var(--color-grey-2);
        }
    }
}
hr{
    border: 1px solid var(--color-grey-4);
    // color: var(--color-grey-3);
    width: 40%;
    margin: auto;
    margin-top: 2rem;
    
}

//portfolios

.port-text{
    padding: 2rem 0;
    text-align: center;
}

.portfolios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .portfolio-item{
        position: relative;
        border-radius: 15px;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;

        }
        .hover-items{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform:  scale(0);
            transition: all .4s ease-in-out;
            h3{
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;

            }
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: var(--color-primary);
                    display: flex;
                    justify-content: center;
                align-items: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    i{
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;

                    }
                    &:hover{
                        background-color: var(--color-white);
                        i{
                            color: var(--color-primary);
                        }
                    }
                }
               
            }
        }
    }
}
.portfolio-item:hover .hover-items{
    opacity: 1;
    transform: scale(1);
}

//techtools
.techtools{
    display: grid;
    grid-template-columns: repeat(5,10rem);
    grid-gap: 5rem;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    .techtool{
        height: 13rem;
        position: relative;
        background-color: var(--color-grey-5);
        border-radius: 15px;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        cursor: pointer;
        &:hover{
            box-shadow: 1px 4px 20px rgba(0,0,0,.8);
            transform: translateY(-5px);
            transition: all .4s ease-in-out;
            color: var(--color-secondary);
            img{
                filter: grayscale(0);
                transform: scale(1.1);
                
            }
        }
        img{
            width: 100%;
           
            filter: grayscale(100%);
            transition: all .4s ease-in-out;
            object-fit: cover;
            padding: 1rem;
           
        }
        .techtool-text{
            text-align: center;
            margin-top: -7px;
           
            border-top: 8px solid var(--color-secondary);
            h2{
                font-size: 1.5rem;
                margin-bottom: .7rem;
            }

        }
    }
}
//Independent component
.btn-con{
    display: flex;
    align-self:flex-start ;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    // display: flex;
    align-items: center ;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;

    }
    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;

    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-in-out;
        z-index: -1;

    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            transition: all .4s ease-in-out;
        }
    }
}

.main-title{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span{
            color: var(--color-secondary);

        }
        .bg-text{
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6rem;
        }
    }
}
.calendar{
    

    border: none !important;
    border-radius: 1rem !important;
    background-color: var(--color-black);
    padding: 1rem;
}
// 